/* Fontes Importadas */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variaveis de Cores */

:root {
    --background: #1b1b1b;
    --red: #ff0000;
    --black: #000000;
    --white: #ffffff;
    --cinza: #0b0b0b;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.over {
    overflow: hidden;
}

.title {
    font-family: "Playfair Display", serif;
}

.width {
    width: 100%;
}
